<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <section name="kalinda" type="Kalinda.Configuration.KalindaConfigurationSection, Kalinda.Configuration" />        
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <kalinda>
    <httpServer Host="kalinda" Port="8080" AbsolutePath="/api" />
  </kalinda>
</configuration>
